@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-primary: #2f80ed;
  --color-secondary: #333333;
  --color-input-bg: #ededed;
  --color-success: #05a30b;
  --color-error: #cf1212;
  --color-secondary-bg: #f2f2f2;

  --font-sans: "Work Sans", ui-sans-serif, system-ui, sans-serif;

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
}

@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

@layer base {
  a:hover {
    color: #2f55ed;
  }
  a {
    color: #2f80ed;
  }
}
